# Welcome to my Jupyter
                                           Athani

## Review of Python's datetime Module

In [1]:
import pandas as pd
import datetime as dt

In [10]:
today=dt.date(2022,1,1)
#date(year, month, day)
today

datetime.date(2022, 1, 1)

In [3]:
today.year
today.month
today.day

1

In [4]:
dt.datetime(2022,1,1) # defalt take midday time

datetime.datetime(2022, 1, 1, 0, 0)

In [5]:
sometime=dt.datetime(2022,1,1,4,56,44) # defalt take midday time
sometime
#datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

datetime.datetime(2022, 1, 1, 4, 56, 44)

In [6]:
str(dt.datetime(2022,1,1,4,56,44)) # converted into str bcz most readble format

'2022-01-01 04:56:44'

In [7]:
print(sometime.year)
print(sometime.month)
print(sometime.day)
print(sometime.hour)
print(sometime.minute)
print(sometime.second)

2022
1
1
4
56
44

In [8]:
dt.date("2022 10 21")

TypeError: an integer is required (got type str)

## The pandas Timestamp Object

In [11]:
pd.Timestamp("2022-1-1") # pd.Timestamp we need to pass the value as string and we can pass in any format as follow

Timestamp('2022-01-01 00:00:00')

In [12]:
pd.Timestamp("2022/1/1")

Timestamp('2022-01-01 00:00:00')

In [13]:
pd.Timestamp("2022, 1, 1")

Timestamp('2022-01-01 00:00:00')

In [14]:
pd.Timestamp("2022 1 1")

Timestamp('2022-01-01 00:00:00')

In [15]:
pd.Timestamp("15/1/2022")

Timestamp('2022-01-15 00:00:00')

In [16]:
pd.Timestamp("1/12/2022")

Timestamp('2022-01-12 00:00:00')

In [17]:
pd.Timestamp("15/1/2022 06:54")

Timestamp('2022-01-15 06:54:00')

In [18]:
pd.Timestamp("15/1/2022 06:54:30 PM")

Timestamp('2022-01-15 18:54:30')

In [19]:
pd.Timestamp("20221211")

Timestamp('2022-12-11 00:00:00')

In [20]:
pd.Timestamp("20221111011050")

Timestamp('2022-11-11 01:10:50')

## The Pandas DateTimeIndex object

In [43]:
date=["2022-1-1","2021/1/1","2020/1/1"]

In [44]:
date

['2022-1-1', '2021/1/1', '2020/1/1']

In [53]:
index=pd.DatetimeIndex(date)

In [54]:
s=pd.Series([1,2,3],index=index)
s

2022-01-01    1
2021-01-01    2
2020-01-01    3
dtype: int64

In [59]:
dates=[dt.date(2026,2,2),dt.date(2022,1,1),dt.date(2023,1,1)]

In [60]:
dates

[datetime.date(2026, 2, 2),
 datetime.date(2022, 1, 1),
 datetime.date(2023, 1, 1)]

In [61]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2026-02-02', '2022-01-01', '2023-01-01'], dtype='datetime64[ns]', freq=None)

In [69]:
val=[123,432,344]
df=pd.Series(val,index=dates)
df

2026-02-02    123
2022-01-01    432
2023-01-01    344
dtype: int64

## The pd.to_datetime() Method

In [70]:
pd.to_datetime("2022-1-1")

Timestamp('2022-01-01 00:00:00')

In [77]:
pd.to_datetime("2022/1/12")

Timestamp('2022-01-12 00:00:00')

In [78]:
pd.to_datetime("2022-july-12")

Timestamp('2022-07-12 00:00:00')

In [81]:
pd.to_datetime(["2022-01-01","2021/02/02","july 4 1991"])

DatetimeIndex(['2022-01-01', '2021-02-02', '1991-07-04'], dtype='datetime64[ns]', freq=None)

In [21]:
pd.Timestamp("july 4 1991")

Timestamp('1991-07-04 00:00:00')

In [84]:
times=pd.Series(["2022-01-01","2021/02/02","july 4 1991"])
times

0     2022-01-01
1     2021/02/02
2    july 4 1991
dtype: object

In [86]:
pd.to_datetime(times)

0   2022-01-01
1   2021-02-02
2   1991-07-04
dtype: datetime64[ns]

In [89]:
dates=["2022-01-01","2021/02/02","july 4 1991","Hello world","2021-02-31"]
dates

['2022-01-01', '2021/02/02', 'july 4 1991', 'Hello world', '2021-02-31']

In [90]:
pd.to_datetime(dates)

ParserError: Unknown string format: Hello world

In [91]:
pd.to_datetime(dates,errors="coerce")

DatetimeIndex(['2022-01-01', '2021-02-02', '1991-07-04', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)

## Create Range of Dates with the pd.date_range() Method, Part-1

In [6]:
pd.date_range()

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified

In [25]:
pd.date_range(start="2022-1-1",end="2022-12-31",freq="D")

freq : str or DateOffset, default 'D'
    Frequency strings can have multiples, e.g. '5H'. See
    :ref:`here <timeseries.offset_aliases>` for a list of
    frequency aliases.

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [18]:
pd.date_range(start="2022-1-1",end="2022-12-12",freq="2d") 
#2d represent the two intravl between the dates

DatetimeIndex(['2022-01-01', '2022-01-03', '2022-01-05', '2022-01-07',
               '2022-01-09', '2022-01-11', '2022-01-13', '2022-01-15',
               '2022-01-17', '2022-01-19',
               ...
               '2022-11-23', '2022-11-25', '2022-11-27', '2022-11-29',
               '2022-12-01', '2022-12-03', '2022-12-05', '2022-12-07',
               '2022-12-09', '2022-12-11'],
              dtype='datetime64[ns]', length=173, freq='2D')

In [20]:
pd.date_range(start="2022-1-1",end="2022-12-12",freq="M") 

#Changed the `freq` (frequency) to ``'M'`` (month end frequeNCY)

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30'],
              dtype='datetime64[ns]', freq='M')

In [27]:
pd.date_range(start="2022-1-1",end="2022-12-12",freq="MS") 
#Changed the `freq` (frequency) to ``'MS'`` (month start frequeNCY)

DatetimeIndex(['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [21]:
pd.date_range(start="2022-1-1",end="2022-12-12",freq="3M")

DatetimeIndex(['2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31'], dtype='datetime64[ns]', freq='3M')

In [23]:
pd.date_range(start="2022-1-1",end="2022-12-12",freq="W") 
#freq='W-SUN' defalt weekday start with Sunday

DatetimeIndex(['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23',
               '2022-01-30', '2022-02-06', '2022-02-13', '2022-02-20',
               '2022-02-27', '2022-03-06', '2022-03-13', '2022-03-20',
               '2022-03-27', '2022-04-03', '2022-04-10', '2022-04-17',
               '2022-04-24', '2022-05-01', '2022-05-08', '2022-05-15',
               '2022-05-22', '2022-05-29', '2022-06-05', '2022-06-12',
               '2022-06-19', '2022-06-26', '2022-07-03', '2022-07-10',
               '2022-07-17', '2022-07-24', '2022-07-31', '2022-08-07',
               '2022-08-14', '2022-08-21', '2022-08-28', '2022-09-04',
               '2022-09-11', '2022-09-18', '2022-09-25', '2022-10-02',
               '2022-10-09', '2022-10-16', '2022-10-23', '2022-10-30',
               '2022-11-06', '2022-11-13', '2022-11-20', '2022-11-27',
               '2022-12-04', '2022-12-11'],
              dtype='datetime64[ns]', freq='W-SUN')

In [24]:
pd.date_range(start="2022-1-1",end="2022-12-12",freq="W-mon")

DatetimeIndex(['2022-01-03', '2022-01-10', '2022-01-17', '2022-01-24',
               '2022-01-31', '2022-02-07', '2022-02-14', '2022-02-21',
               '2022-02-28', '2022-03-07', '2022-03-14', '2022-03-21',
               '2022-03-28', '2022-04-04', '2022-04-11', '2022-04-18',
               '2022-04-25', '2022-05-02', '2022-05-09', '2022-05-16',
               '2022-05-23', '2022-05-30', '2022-06-06', '2022-06-13',
               '2022-06-20', '2022-06-27', '2022-07-04', '2022-07-11',
               '2022-07-18', '2022-07-25', '2022-08-01', '2022-08-08',
               '2022-08-15', '2022-08-22', '2022-08-29', '2022-09-05',
               '2022-09-12', '2022-09-19', '2022-09-26', '2022-10-03',
               '2022-10-10', '2022-10-17', '2022-10-24', '2022-10-31',
               '2022-11-07', '2022-11-14', '2022-11-21', '2022-11-28',
               '2022-12-05', '2022-12-12'],
              dtype='datetime64[ns]', freq='W-MON')

### Part-2

In [28]:
pd.date_range(start="2022/01/01",periods=50)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
               '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18', '2022-02-19'],
              dtype='datetime64[ns]', freq='D')

In [31]:
pd.date_range(start="2022/01/01",periods=50,freq="W")

DatetimeIndex(['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23',
               '2022-01-30', '2022-02-06', '2022-02-13', '2022-02-20',
               '2022-02-27', '2022-03-06', '2022-03-13', '2022-03-20',
               '2022-03-27', '2022-04-03', '2022-04-10', '2022-04-17',
               '2022-04-24', '2022-05-01', '2022-05-08', '2022-05-15',
               '2022-05-22', '2022-05-29', '2022-06-05', '2022-06-12',
               '2022-06-19', '2022-06-26', '2022-07-03', '2022-07-10',
               '2022-07-17', '2022-07-24', '2022-07-31', '2022-08-07',
               '2022-08-14', '2022-08-21', '2022-08-28', '2022-09-04',
               '2022-09-11', '2022-09-18', '2022-09-25', '2022-10-02',
               '2022-10-09', '2022-10-16', '2022-10-23', '2022-10-30',
               '2022-11-06', '2022-11-13', '2022-11-20', '2022-11-27',
               '2022-12-04', '2022-12-11'],
              dtype='datetime64[ns]', freq='W-SUN')

In [33]:
pd.date_range(start="2022/01/01",periods=50,freq="B")
#freq="B" -----> Bussines days, except Sunday and Sat

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-17', '2022-01-18',
               '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-31', '2022-02-01', '2022-02-02', '2022-02-03',
               '2022-02-04', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-14', '2022-02-15',
               '2022-02-16', '2022-02-17', '2022-02-18', '2022-02-21',
               '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
               '2022-02-28', '2022-03-01', '2022-03-02', '2022-03-03',
               '2022-03-04', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11'],
              dtype='datetime64[ns]', freq='B')

In [34]:
pd.date_range(start="2022/01/01",periods=50,freq="W-Tue")

DatetimeIndex(['2022-01-04', '2022-01-11', '2022-01-18', '2022-01-25',
               '2022-02-01', '2022-02-08', '2022-02-15', '2022-02-22',
               '2022-03-01', '2022-03-08', '2022-03-15', '2022-03-22',
               '2022-03-29', '2022-04-05', '2022-04-12', '2022-04-19',
               '2022-04-26', '2022-05-03', '2022-05-10', '2022-05-17',
               '2022-05-24', '2022-05-31', '2022-06-07', '2022-06-14',
               '2022-06-21', '2022-06-28', '2022-07-05', '2022-07-12',
               '2022-07-19', '2022-07-26', '2022-08-02', '2022-08-09',
               '2022-08-16', '2022-08-23', '2022-08-30', '2022-09-06',
               '2022-09-13', '2022-09-20', '2022-09-27', '2022-10-04',
               '2022-10-11', '2022-10-18', '2022-10-25', '2022-11-01',
               '2022-11-08', '2022-11-15', '2022-11-22', '2022-11-29',
               '2022-12-06', '2022-12-13'],
              dtype='datetime64[ns]', freq='W-TUE')

In [37]:
pd.date_range(start="2022/01/01",periods=50,freq="A")
#Changed the `freq` (frequency) to ``'A'`` (Year end frequeNCY)

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31', '2032-12-31', '2033-12-31',
               '2034-12-31', '2035-12-31', '2036-12-31', '2037-12-31',
               '2038-12-31', '2039-12-31', '2040-12-31', '2041-12-31',
               '2042-12-31', '2043-12-31', '2044-12-31', '2045-12-31',
               '2046-12-31', '2047-12-31', '2048-12-31', '2049-12-31',
               '2050-12-31', '2051-12-31', '2052-12-31', '2053-12-31',
               '2054-12-31', '2055-12-31', '2056-12-31', '2057-12-31',
               '2058-12-31', '2059-12-31', '2060-12-31', '2061-12-31',
               '2062-12-31', '2063-12-31', '2064-12-31', '2065-12-31',
               '2066-12-31', '2067-12-31', '2068-12-31', '2069-12-31',
               '2070-12-31', '2071-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

### Part-3

In [39]:
pd.date_range(end="2000/01/01",periods=20,)

DatetimeIndex(['1999-12-13', '1999-12-14', '1999-12-15', '1999-12-16',
               '1999-12-17', '1999-12-18', '1999-12-19', '1999-12-20',
               '1999-12-21', '1999-12-22', '1999-12-23', '1999-12-24',
               '1999-12-25', '1999-12-26', '1999-12-27', '1999-12-28',
               '1999-12-29', '1999-12-30', '1999-12-31', '2000-01-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(end="2000/01/01",periods=20,freq="M")

DatetimeIndex(['1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [42]:
pd.date_range(end="2000/01/01",periods=20,freq="B")

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

## The .dt Accessor

In [54]:
bunch_of_date=pd.date_range(start="2020-01-01",periods=100)
bunch_of_date

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
               '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
               '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17',
               '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21',
               '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29',
               '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
               '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
               '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01',
               '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05',
               '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09'],
              dtype='datetime64[ns]', freq='D')

In [56]:
s=pd.Series(bunch_of_date)
s

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
        ...
95   2020-04-05
96   2020-04-06
97   2020-04-07
98   2020-04-08
99   2020-04-09
Length: 100, dtype: datetime64[ns]

In [59]:
s.dt.year # extracting the year only

0     2020
1     2020
2     2020
3     2020
4     2020
      ...
95    2020
96    2020
97    2020
98    2020
99    2020
Length: 100, dtype: int64

In [60]:
s.dt.month # extracting the year only

0     1
1     1
2     1
3     1
4     1
     ..
95    4
96    4
97    4
98    4
99    4
Length: 100, dtype: int64

In [62]:
s.dt.month_name()

0     January
1     January
2     January
3     January
4     January
       ...
95      April
96      April
97      April
98      April
99      April
Length: 100, dtype: object

In [69]:
s[s.dt.is_quarter_start] #first its  give bool value

0    2020-01-01
91   2020-04-01
dtype: datetime64[ns]

In [73]:
s[s.dt.is_month_end]

30   2020-01-31
59   2020-02-29
90   2020-03-31
dtype: datetime64[ns]

## Import Financial Data Set with pandas_datareader Library

In [3]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [4]:
stocks=data.DataReader(name="MSFT",data_source="yahoo",start="1990-1-1",end="2021-12-31")
stocks.head()

                High       Low      Open     Close       Volume  Adj Close
Date
1990-01-02  0.616319  0.598090  0.605903  0.616319   53035200.0   0.386570
1990-01-03  0.626736  0.614583  0.621528  0.619792  113774400.0   0.388748
1990-01-04  0.638889  0.616319  0.619792  0.638021  125740800.0   0.400182
1990-01-05  0.638889  0.621528  0.635417  0.622396   69566400.0   0.390381
1990-01-08  0.631944  0.614583  0.621528  0.631944   58982400.0   0.396370

In [48]:
stocks.index

DatetimeIndex(['1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05',
               '1990-01-08', '1990-01-09', '1990-01-10', '1990-01-11',
               '1990-01-12', '1990-01-15',
               ...
               '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22',
               '2021-12-23', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

In [49]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [50]:
stocks.values

array([[6.16319001e-01, 5.98089993e-01, 6.05903029e-01, 6.16319001e-01,
        5.30352000e+07, 3.86569798e-01],
       [6.26735985e-01, 6.14583015e-01, 6.21528029e-01, 6.19791985e-01,
        1.13774400e+08, 3.88748080e-01],
       [6.38889015e-01, 6.16319001e-01, 6.19791985e-01, 6.38020992e-01,
        1.25740800e+08, 4.00181860e-01],
       ...,
       [3.44299988e+02, 3.39679993e+02, 3.41299988e+02, 3.41950012e+02,
        1.50420000e+07, 3.39730377e+02],
       [3.43130005e+02, 3.38820007e+02, 3.41910004e+02, 3.39320007e+02,
        1.59945000e+07, 3.37117432e+02],
       [3.39359985e+02, 3.35850006e+02, 3.38510010e+02, 3.36320007e+02,
        1.80008000e+07, 3.34136932e+02]])

In [51]:
stocks.axes

[DatetimeIndex(['1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05',
                '1990-01-08', '1990-01-09', '1990-01-10', '1990-01-11',
                '1990-01-12', '1990-01-15',
                ...
                '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22',
                '2021-12-23', '2021-12-27', '2021-12-28', '2021-12-29',
                '2021-12-30', '2021-12-31'],
               dtype='datetime64[ns]', name='Date', length=8064, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting Rows from a DataFrame with a DatetimeIndex

In [52]:
stocks.head()

                High       Low      Open     Close       Volume  Adj Close
Date
1990-01-02  0.616319  0.598090  0.605903  0.616319   53035200.0   0.386570
1990-01-03  0.626736  0.614583  0.621528  0.619792  113774400.0   0.388748
1990-01-04  0.638889  0.616319  0.619792  0.638021  125740800.0   0.400182
1990-01-05  0.638889  0.621528  0.635417  0.622396   69566400.0   0.390381
1990-01-08  0.631944  0.614583  0.621528  0.631944   58982400.0   0.396370

In [53]:
stocks.loc[pd.Timestamp("2020-12-31")] # for .loc we should use []

High         2.230000e+02
Low          2.196800e+02
Open         2.217000e+02
Close        2.224200e+02
Volume       2.094210e+07
Adj Close    2.191394e+02
Name: 2020-12-31 00:00:00, dtype: float64

In [54]:
stocks.iloc[0]

High         6.163190e-01
Low          5.980900e-01
Open         6.059030e-01
Close        6.163190e-01
Volume       5.303520e+07
Adj Close    3.865698e-01
Name: 1990-01-02 00:00:00, dtype: float64

In [55]:
stocks.loc[['2020-12-31','2021-01-04']]

             High         Low        Open       Close      Volume   Adj Close
Date
2020-12-31  223.0  219.679993  221.699997  222.419998  20942100.0  219.139359
2021-01-04  223.0  214.809998  222.529999  217.690002  37130100.0  214.479095

In [56]:
stocks.loc['2020-12-31','2021-01-04'] #use double sqr bracket

KeyError: '2021-01-04'

In [57]:
stocks.loc[['2020-12-31','2021-01-04']]

             High         Low        Open       Close      Volume   Adj Close
Date
2020-12-31  223.0  219.679993  221.699997  222.419998  20942100.0  219.139359
2021-01-04  223.0  214.809998  222.529999  217.690002  37130100.0  214.479095

In [58]:
stocks.loc['2020-12-31':'2021-01-04'] # passing in the form of list

             High         Low        Open       Close      Volume   Adj Close
Date
2020-12-31  223.0  219.679993  221.699997  222.419998  20942100.0  219.139359
2021-01-04  223.0  214.809998  222.529999  217.690002  37130100.0  214.479095

In [59]:
stocks.truncate(before='2020-1-1',after="2021-01-07")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,156.591995
2020-01-03,159.949997,158.059998,158.320007,158.619995,21116200.0,154.642166
2020-01-06,159.100006,156.509995,157.080002,159.029999,20813700.0,155.041885
2020-01-07,159.669998,157.320007,159.320007,157.580002,21634100.0,153.628265
2020-01-08,160.800003,157.949997,158.929993,160.089996,27746500.0,156.075302
...,...,...,...,...,...,...
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,219.139359
2021-01-04,223.000000,214.809998,222.529999,217.690002,37130100.0,214.479095
2021-01-05,218.520004,215.699997,217.259995,217.899994,23823000.0,214.686005
2021-01-06,216.490005,211.940002,212.169998,212.250000,35930700.0,209.119339
2021-01-07,219.339996,213.710007,214.039993,218.289993,27694500.0,215.070267

In [60]:
birthday=pd.date_range("31-07-1997","31-7-2022",freq=pd.DateOffset(years=1))
birthday

C:\Users\Manjunath\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3369: UserWarning: Parsing '31-07-1997' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

DatetimeIndex(['1997-07-31', '1998-07-31', '1999-07-31', '2000-07-31',
               '2001-07-31', '2002-07-31', '2003-07-31', '2004-07-31',
               '2005-07-31', '2006-07-31', '2007-07-31', '2008-07-31',
               '2009-07-31', '2010-07-31', '2011-07-31', '2012-07-31',
               '2013-07-31', '2014-07-31', '2015-07-31', '2016-07-31',
               '2017-07-31', '2018-07-31', '2019-07-31', '2020-07-31',
               '2021-07-31', '2022-07-31'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [62]:
stocks[stocks.index.isin(birthday)] # the stock price on my birthday date

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1997-07-31,17.765625,17.609375,17.750000,17.671875,42240800.0,11.084216
1998-07-31,28.378906,27.484375,28.234375,27.484375,53705200.0,17.238848
2000-07-31,35.562500,34.625000,35.093750,34.906250,70283800.0,21.894016
2001-07-31,33.695000,32.924999,33.005001,33.095001,59031600.0,20.757965
2002-07-31,24.000000,23.180000,23.805000,23.990000,93875600.0,15.047088
2003-07-31,26.990000,26.309999,26.600000,26.410000,64504800.0,16.618240
2006-07-31,24.420000,24.010000,24.070000,24.059999,40254400.0,17.351908
2007-07-31,29.719999,28.980000,29.709999,28.990000,66554000.0,21.197575
2008-07-31,26.280001,25.709999,25.850000,25.719999,60461000.0,19.078405
2009-07-31,24.070000,23.500000,23.770000,23.520000,54258200.0,17.868423
2012-07-31,29.709999,29.330000,29.480000,29.469999,37620900.0,24.010950
2013-07-31,32.049999,31.709999,31.969999,31.840000,43898400.0,26.732496
2014-07-31,43.689999,43.080002,43.380001,43.160000,31537500.0,37.305805
2015-07-31,47.369999,46.500000,47.290001,46.700001,31201500.0,41.432343
2017-07-31,73.440002,72.410004,73.300003,72.699997,23600100.0,67.950516
2018-07-31,106.720001,105.379997,106.489998,106.080002,27655200.0,101.085472
2019-07-31,140.490005,135.080002,140.330002,136.270004,38598800.0,131.962692
2020-07-31,205.100006,199.009995,204.399994,205.009995,51044000.0,200.972885

## Timestamp Object Attributes and Methods

In [63]:
stocks.head()

                High       Low      Open     Close       Volume  Adj Close
Date
1990-01-02  0.616319  0.598090  0.605903  0.616319   53035200.0   0.386570
1990-01-03  0.626736  0.614583  0.621528  0.619792  113774400.0   0.388748
1990-01-04  0.638889  0.616319  0.619792  0.638021  125740800.0   0.400182
1990-01-05  0.638889  0.621528  0.635417  0.622396   69566400.0   0.390381
1990-01-08  0.631944  0.614583  0.621528  0.631944   58982400.0   0.396370

In [65]:
random_day=stocks.index[100]
random_day

Timestamp('1990-05-24 00:00:00')

In [73]:
random_day.month
random_day.year
random_day.day
random_day.is_month_start
random_day.is_month_end
random_day.is_quarter_start
random_day.is_quarter_end

False

In [75]:
random_day.month_name()

'May'

In [76]:
random_day.day_name()

'Thursday'

In [78]:
stocks.index.day_name()

Index(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Monday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=8064)

In [79]:
stocks.insert(0,column="Day_name",value=stocks.index.day_name())

In [83]:
month_names=stocks.index.month_name()
month_names

Index(['January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January',
       ...
       'December', 'December', 'December', 'December', 'December', 'December',
       'December', 'December', 'December', 'December'],
      dtype='object', name='Date', length=8064)

In [85]:
stocks.insert(1,column="Month_Name",value=month_names)
stocks

,Day_name,Month_Name,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
1990-01-02,Tuesday,January,0.616319,0.598090,0.605903,0.616319,53035200.0,0.386570
1990-01-03,Wednesday,January,0.626736,0.614583,0.621528,0.619792,113774400.0,0.388748
1990-01-04,Thursday,January,0.638889,0.616319,0.619792,0.638021,125740800.0,0.400182
1990-01-05,Friday,January,0.638889,0.621528,0.635417,0.622396,69566400.0,0.390381
1990-01-08,Monday,January,0.631944,0.614583,0.621528,0.631944,58982400.0,0.396370
...,...,...,...,...,...,...,...,...
2021-12-27,Monday,December,342.480011,335.429993,335.459991,342.450012,19947000.0,340.227112
2021-12-28,Tuesday,December,343.809998,340.320007,343.149994,341.250000,15661500.0,339.034882
2021-12-29,Wednesday,December,344.299988,339.679993,341.299988,341.950012,15042000.0,339.730377
2021-12-30,Thursday,December,343.130005,338.820007,341.910004,339.320007,15994500.0,337.117432
2021-12-31,Friday,December,339.359985,335.850006,338.510010,336.320007,18000800.0,334.136932

In [88]:
stocks[stocks.index.is_month_start]

,Day_name,Month_Name,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
1990-02-01,Thursday,February,0.654514,0.642361,0.642361,0.651042,89193600.0,0.408349
1990-03-01,Thursday,March,0.706597,0.684028,0.684028,0.694444,76867200.0,0.435572
1990-05-01,Tuesday,May,0.815972,0.788194,0.815972,0.793403,52473600.0,0.497641
1990-06-01,Friday,June,1.045139,1.013889,1.017361,1.043403,69069600.0,0.654447
1990-08-01,Wednesday,August,0.934028,0.885417,0.920139,0.927083,111117600.0,0.581488
...,...,...,...,...,...,...,...,...
2021-07-01,Thursday,July,271.839996,269.600006,269.609985,271.600006,16725300.0,268.829590
2021-09-01,Wednesday,September,305.190002,301.489990,302.869995,301.829987,18983800.0,299.323151
2021-10-01,Friday,October,289.980011,281.290009,282.119995,289.100006,30086300.0,286.698883
2021-11-01,Monday,November,331.489990,326.369995,331.359985,329.369995,27073200.0,326.634399
2021-12-01,Wednesday,December,339.279999,329.390015,335.130005,330.079987,33337600.0,327.937408

## The pd.DateOffset Object

In [89]:
stocks.head()

,Day_name,Month_Name,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
1990-01-02,Tuesday,January,0.616319,0.598090,0.605903,0.616319,53035200.0,0.386570
1990-01-03,Wednesday,January,0.626736,0.614583,0.621528,0.619792,113774400.0,0.388748
1990-01-04,Thursday,January,0.638889,0.616319,0.619792,0.638021,125740800.0,0.400182
1990-01-05,Friday,January,0.638889,0.621528,0.635417,0.622396,69566400.0,0.390381
1990-01-08,Monday,January,0.631944,0.614583,0.621528,0.631944,58982400.0,0.396370

In [90]:
stocks.index

DatetimeIndex(['1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05',
               '1990-01-08', '1990-01-09', '1990-01-10', '1990-01-11',
               '1990-01-12', '1990-01-15',
               ...
               '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22',
               '2021-12-23', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

In [92]:
stocks.index+5 # pands geting confsue, if you are addding date,adding month or year, for that we are using the dateoffset

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [93]:
stocks.index+pd.DateOffset(days=5)

DatetimeIndex(['1990-01-07', '1990-01-08', '1990-01-09', '1990-01-10',
               '1990-01-13', '1990-01-14', '1990-01-15', '1990-01-16',
               '1990-01-17', '1990-01-20',
               ...
               '2021-12-22', '2021-12-25', '2021-12-26', '2021-12-27',
               '2021-12-28', '2022-01-01', '2022-01-02', '2022-01-03',
               '2022-01-04', '2022-01-05'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

In [104]:
stocks.index + pd.DateOffset(weeks=5) 
stocks.index - pd.DateOffset(weeks=5) 


stocks.index + pd.DateOffset(months=5)
stocks.index - pd.DateOffset(months=5) 

stocks.index + pd.DateOffset(years=5) 
stocks.index - pd.DateOffset(years=5) 


stocks.index + pd.DateOffset(days=3,months=5,weeks=3,years=2)

stocks.index - pd.DateOffset(days=3,months=5,weeks=3,years=2,hours=10,minutes=45,seconds=34)

DatetimeIndex(['1987-07-08 13:14:26', '1987-07-09 13:14:26',
               '1987-07-10 13:14:26', '1987-07-11 13:14:26',
               '1987-07-14 13:14:26', '1987-07-15 13:14:26',
               '1987-07-16 13:14:26', '1987-07-17 13:14:26',
               '1987-07-18 13:14:26', '1987-07-21 13:14:26',
               ...
               '2019-06-22 13:14:26', '2019-06-25 13:14:26',
               '2019-06-26 13:14:26', '2019-06-27 13:14:26',
               '2019-06-28 13:14:26', '2019-07-02 13:14:26',
               '2019-07-03 13:14:26', '2019-07-04 13:14:26',
               '2019-07-05 13:14:26', '2019-07-06 13:14:26'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

## Timeseries Offsets

The offset specifies a set of dates that conform to the DateOffset. We can create the DateOffsets to move the dates forward to valid dates.

we want round of the date for end of the month or start of the month timeseries offsets help us

In [8]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8064 entries, 1990-01-02 to 2021-12-31
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       8064 non-null   float64
 1   Low        8064 non-null   float64
 2   Open       8064 non-null   float64
 3   Close      8064 non-null   float64
 4   Volume     8064 non-null   float64
 5   Adj Close  8064 non-null   float64
dtypes: float64(6)
memory usage: 441.0 KB

In [18]:
stock_monthend=stocks.index+pd.tseries.offsets.MonthEnd() 
stock_monthend[:40]
# Monthend making each day to 31,

DatetimeIndex(['1990-01-31', '1990-01-31', '1990-01-31', '1990-01-31',
               '1990-01-31', '1990-01-31', '1990-01-31', '1990-01-31',
               '1990-01-31', '1990-01-31', '1990-01-31', '1990-01-31',
               '1990-01-31', '1990-01-31', '1990-01-31', '1990-01-31',
               '1990-01-31', '1990-01-31', '1990-01-31', '1990-01-31',
               '1990-01-31', '1990-02-28', '1990-02-28', '1990-02-28',
               '1990-02-28', '1990-02-28', '1990-02-28', '1990-02-28',
               '1990-02-28', '1990-02-28', '1990-02-28', '1990-02-28',
               '1990-02-28', '1990-02-28', '1990-02-28', '1990-02-28',
               '1990-02-28', '1990-02-28', '1990-02-28', '1990-02-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [23]:
month_end=stocks.index+pd.tseries.offsets.MonthEnd()
month_end

DatetimeIndex(['1990-01-31', '1990-01-31', '1990-01-31', '1990-01-31',
               '1990-01-31', '1990-01-31', '1990-01-31', '1990-01-31',
               '1990-01-31', '1990-01-31',
               ...
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2022-01-31'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

In [9]:
stocks.tail(50)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-10-21,311.019989,306.359985,307.170013,310.760010,16918100.0,308.178986
2021-10-22,311.089996,307.799988,310.399994,309.160004,17449300.0,306.592285
2021-10-25,309.399994,306.459991,309.359985,308.130005,17554500.0,305.570862
2021-10-26,312.399994,308.600006,311.000000,310.109985,28107300.0,307.534393
2021-10-27,326.100006,316.000000,316.000000,323.170013,52588700.0,320.485931
2021-10-28,324.869995,321.359985,324.329987,324.350006,26297900.0,321.656097
2021-10-29,332.000000,323.899994,324.130005,331.619995,34766000.0,328.865753
2021-11-01,331.489990,326.369995,331.359985,329.369995,27073200.0,326.634430
2021-11-02,333.450012,330.000000,330.309998,333.130005,26487100.0,330.363220
2021-11-03,334.899994,330.649994,333.899994,334.000000,21500100.0,331.225952
2021-11-04,336.540009,329.510010,332.890015,336.440002,23992200.0,333.645691
2021-11-05,338.790009,334.420013,338.510010,336.059998,22570100.0,333.268829
2021-11-08,337.649994,334.440002,337.299988,336.989990,20897000.0,334.191162
2021-11-09,338.720001,334.529999,337.109985,335.950012,21307400.0,333.159821
2021-11-10,334.630005,329.920013,334.570007,330.799988,25500900.0,328.052551
2021-11-11,333.769989,330.510010,331.250000,332.429993,16849800.0,329.668976
2021-11-12,337.230011,333.790009,333.920013,336.720001,23831000.0,333.923370
2021-11-15,337.880005,334.029999,337.540009,336.070007,16723000.0,333.278778
2021-11-16,340.670013,335.510010,335.679993,339.510010,20886800.0,336.690247
2021-11-17,342.190002,338.000000,338.940002,339.119995,19053400.0,336.918732
2021-11-18,342.450012,337.119995,338.179993,341.269989,22463500.0,339.054749
2021-11-19,345.100006,342.200012,342.640015,343.109985,21963400.0,340.882782
2021-11-22,349.670013,339.549988,344.619995,339.829987,31031100.0,337.624054
2021-11-23,339.450012,333.559998,337.049988,337.679993,30427600.0,335.488037
2021-11-24,338.160004,333.910004,336.279999,337.910004,21661300.0,335.716583
2021-11-26,337.929993,328.119995,334.350006,329.679993,24217200.0,327.539978
2021-11-29,339.029999,334.739990,334.940002,336.630005,28563500.0,334.444885
2021-11-30,337.779999,328.989990,335.320007,330.589996,42885600.0,328.444061
2021-12-01,339.279999,329.390015,335.130005,330.079987,33337600.0,327.937408
2021-12-02,333.489990,327.799988,330.299988,329.489990,30766000.0,327.351196
2021-12-03,332.700012,318.029999,331.989990,323.010010,41779300.0,320.913300
2021-12-06,327.450012,319.230011,323.950012,326.190002,30032600.0,324.072632
2021-12-07,335.799988,330.100006,331.640015,334.920013,31021900.0,332.745972
2021-12-08,335.500000,330.799988,335.309998,334.970001,24761000.0,332.795654
2021-12-09,336.489990,332.119995,334.410004,333.100006,22214200.0,330.937775
2021-12-10,343.000000,334.790009,334.980011,342.540009,38095700.0,340.316528
2021-12-13,343.790009,339.079987,340.679993,339.399994,28899400.0,337.196869
2021-12-14,334.640015,324.109985,333.220001,328.339996,44438700.0,326.208679
2021-12-15,335.190002,324.500000,328.609985,334.649994,35381100.0,332.477722
2021-12-16,336.760010,323.019989,335.709991,324.899994,35034800.0,322.790985
2021-12-17,324.920013,317.250000,320.880005,323.799988,47750300.0,321.698120
2021-12-20,322.799988,317.570007,320.049988,319.910004,28326500.0,317.833405
2021-12-21,327.730011,319.799988,323.290009,327.290009,24740600.0,325.165497
2021-12-22,333.609985,325.750000,328.299988,333.200012,24831500.0,331.037170
2021-12-23,336.390015,332.730011,332.750000,334.690002,19617800.0,332.517456
2021-12-27,342.480011,335.429993,335.459991,342.450012,19947000.0,340.227112
2021-12-28,343.809998,340.320007,343.149994,341.250000,15661500.0,339.034882
2021-12-29,344.299988,339.679993,341.299988,341.950012,15042000.0,339.730377
2021-12-30,343.130005,338.820007,341.910004,339.320007,15994500.0,337.117432
2021-12-31,339.359985,335.850006,338.510010,336.320007,18000800.0,334.136932

In [111]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1989-12-31', '1989-12-31', '1989-12-31', '1989-12-31',
               '1989-12-31', '1989-12-31', '1989-12-31', '1989-12-31',
               '1989-12-31', '1989-12-31',
               ...
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30', '2021-11-30', '2021-11-30',
               '2021-11-30', '2021-11-30'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

In [112]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['1990-01-01', '1990-01-01', '1990-01-01', '1990-01-01',
               '1990-01-01', '1990-01-01', '1990-01-01', '1990-01-01',
               '1990-01-01', '1990-01-01',
               ...
               '2021-12-01', '2021-12-01', '2021-12-01', '2021-12-01',
               '2021-12-01', '2021-12-01', '2021-12-01', '2021-12-01',
               '2021-12-01', '2021-12-01'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

In [113]:
from pandas.tseries import offsets

In [117]:
stocks.index+offsets.MonthEnd()

stocks.index + offsets.BDay()

DatetimeIndex(['1990-01-03', '1990-01-04', '1990-01-05', '1990-01-08',
               '1990-01-09', '1990-01-10', '1990-01-11', '1990-01-12',
               '1990-01-15', '1990-01-16',
               ...
               '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23',
               '2021-12-24', '2021-12-28', '2021-12-29', '2021-12-30',
               '2021-12-31', '2022-01-03'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

In [119]:
stocks.index + offsets.YearBegin()
stocks.index + offsets.YearEnd()

DatetimeIndex(['1990-12-31', '1990-12-31', '1990-12-31', '1990-12-31',
               '1990-12-31', '1990-12-31', '1990-12-31', '1990-12-31',
               '1990-12-31', '1990-12-31',
               ...
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', name='Date', length=8064, freq=None)

## The Timedelta Object

In [164]:
#Timedelts is help us find the diff.. between the two time

time_a=pd.Timestamp("31-7-1997")
time_b=pd.Timestamp("16-9-2022")

In [165]:
time_b-time_a

Timedelta('9178 days 00:00:00')

In [161]:
time_a-time_b

Timedelta('-9178 days +00:00:00')

In [162]:
pd.Timedelta(days=3)
pd.Timedelta(days=3,hours=7)
pd.Timedelta(days=3,hours=7,minutes=23)
pd.Timedelta(days=3,hours=7,minutes=23,seconds=20)
pd.Timedelta(weeks=9,days=3,hours=7,minutes=23,seconds=20)

Timedelta('66 days 07:23:20')

In [134]:
pd.Timedelta("14 days")

Timedelta('14 days 00:00:00')

In [136]:
pd.Timedelta("14 days,23 hours,34 seconds")

Timedelta('14 days 23:00:34')

## Timedeltas in Datasets

In [173]:
import pandas as pd,numpy as np,os
os.chdir('C:/Users/Manjunath/Desktop/Raw_Data')

In [174]:
shipping=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [175]:
shipping["Delivery_time"]=shipping['delivery_date']-shipping["order_date"]
shipping.head(3)

   order_date delivery_date Delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [176]:
shipping["Twice as long"]=shipping["delivery_date"]+shipping["Delivery_time"]
shipping.head()

   order_date delivery_date Delivery_time Twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [177]:
shipping["Delivery_time"].max()

Timedelta('3583 days 00:00:00')

In [178]:
shipping["Delivery_time"].min()

Timedelta('8 days 00:00:00')

In [182]:
shipping[shipping["Delivery_time"]>"365 days"].head() # Delivery time >365

   order_date delivery_date Delivery_time Twice as long
ID
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18
9  1990-01-25    1994-10-02     1711 days    1999-06-09